@import "base/variables";

//Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;
//Components
@import "components/nav";
@import "components/clock";
@import "components/controls";
@import "components/page-title";

$space-large: 2.5rem;
$title-color: #192231;

.page-title{
	color: $title-color;
	margin-top: $space-large;
	margin-bottom: $space-large;
}

input[type = search]{
	box-shadow: none;
}

.menu-text{
	margin-right: 10px;
}