// Colors
$olive: #354711;
$coyote: #81613E;
$lightCoyote: #806A42;


// Naviagation Bar Colors
$nav-background: $olive;
$nav-text-color: $coyote;
$nav-link-color: $lightCoyote;

//Clock Colors
$clock-text-color: white;
$clock-bg-color: #8B9476;
$clock-border-color: #475940;