.top-bar, .top-bar ul{
	background-color: $nav-background;
}

.top-bar {
	.menu-text{
		color: $nav-text-color;
	}

	.menu > li > a {
		padding: 0.5;
		color: $nav-link-color;
	}

	.active-link {
		font-weight: bold;
	}
}
